@mixin headingStyleP(){
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
    @media (max-width: 678px){
        font-size: 18px;
    }
}
@mixin headingStyleH2(){
    font-size: 28px;
    letter-spacing: 1px;
    color: $primaryColor;
    @media (max-width: 678px){
        font-size: 24px;
    }
}
@mixin flexStyle($justify, $direction){
    display: flex;
    justify-content: $justify;
    align-items: center;
    flex-direction: $direction;
}
@mixin sectionStyle(){
    padding: 24px ;
    margin-top: 120px;
    min-height: 100vh;
}